<div class="row">
<div class="col-md-8">
Left column
</div>
<div class="col-md-4">
    <div class="card">
        <h5 class="card-title dk-center">Settings</h5>
        <div class="card-body">
            <dl>
            <div class="row"> <dt> Target Failstack </dt> <dd> <input id="targetFailStacks" (change)="metaConfigChange($event)" value="{{(configState$ | async )?.targetFailStacks}}"/> </dd></div>
            <div class="row"> <dt> Number of iterations </dt> <dd> ph </dd> </div>
            </dl>
        </div>

    </div>
</div>

</div>