<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="intro-tab-sel" data-bs-toggle="tab" data-bs-target="#intro-tab-pane" type="button" role="tab">Intro </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="setup-tab-sel" data-bs-toggle="tab" data-bs-target="#setup-tab-pane" type="button" role="tab">Setup </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="results-tab-sel" data-bs-toggle="tab" data-bs-target="#results-tab-pane" type="button" role="tab">Results </button>
        </li>
        </ul>
        <div class="tab-content" role="presentation">
            <div class="tab-pane active" id="intro-tab-pane" role="tabpanel"> <introtab-component> </introtab-component> </div>
            <div class="tab-pane" id="setup-tab-pane" role="tabpanel"> Hello 2 </div>
            <div class="tab-pane" id="results-tab-pane" role="tabpanel"> Hello 3 </div>
        </div>
</div>